@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal; 
}

.content_container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--black-color);
    height: 90px;
}

.header__logo {
    width: 120px;
}

.hamburger-menu-button {
    display: none;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.hamburger-container {
    gap: 30px;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    color: var(--black-color);
}

h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    margin-bottom: 60px;
}

p {
    line-height: 30px;
    font-size: 18px;
    color: var(--gray-color);
    letter-spacing: 0.2px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    color: var(--black-color);
}

.features__row {
    justify-content: space-between;
    gap: 30px;
    display: flex;
}

.features__image {
    box-shadow: 0 12px 24px 0 hsla(220, 100%, 17%, 0.2);
    max-width: 100%;
}
.features__item {
    width: 263px;
    height: 200px;
    padding: 30px;
}

section {
    padding-top: var(--v-space);
    padding-bottom: var(--v-space);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vars {
    --v-space: 90px;
    --orange-color: #FF342B;
    --black-color: #0A121E;
    --gray-color: #3C3C3C;
    --blue-color: #004382;
    --lightgray-color: #B3B3B3;
}
.features__slogan {
    margin-bottom: var(--v-space);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 751px;
}



.header__login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 88px;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    background-color: var(--orange-color);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.features__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slider-nav {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
  }

.slider-nav img {
    object-fit: cover;
    height: 165px;
    width: 165px;
}

.slider-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 1120px;
  }

.slider-main {
    object-fit: cover;
    height: 420px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    cursor: pointer;
}

#photos {
    background-color: var(--gray-color);
}

@media screen and (max-width: 1040px){
    .features__container {
        flex-direction: column;
        gap: 45px;
    }
    .content_container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .slider-nav img {
        height: 80px;
        width: 80px;
    }
    .slick-next:before {
        display: none;
    }
    .slick-prev:before {
        display: none;
    }
    .slick-arrow {
        display: none !important;
    }
}

@media screen and (max-width: 520px){
    .vars {
        --v-space: 45px;
    }
    .slider-content {
        gap: 30px;
    }
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 42px;
    }
    p {
        font-size: 16px;
    }
    header {
        height: 60px;
    }
    header nav {
        display: none;
    }
    .header__logo {
        width: 80px;
    }
    .hamburger-menu-button {
        display: block;
    }
    .features__item {
        width: 165px;
        height: 182px;
        padding: 10px;
    }
    #photos {
        padding-top: 60px;
    }
}

